<body style="background-color: {{color}}">
  <p>Hello {{name}}!!</p>
  <p>{{compliment}}</p>
  <form action="/" method="post">
    <label for="input_compliment"></label>
    <input id="input_compliment" type="text" name="input_compliment">
    <input type="submit">
  </form>
</body>
